body {
    font-family: 'Kulim Park', sans-serif;
}


.title {
    background: #7ca539;
    height: 65px;
    display: flex;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

.intro-title {
    background-color: #fff;
    display: block;
    padding-bottom: 30px;
    border-bottom: 2px solid #262636;
    margin: 0 10px;

}

h2 {
    color: #262636;
    margin: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.intro-title p {
    color: rgb(155, 176, 182);
    text-align: center;
    font-size: 1.1rem;
    padding: 0 10px;
    margin: 10px 0;
}

/* ================= Form styles ============== */
.main-form {
    display: block;
    margin: 0 10px;
}

.contact-title {
    color: #262636;
    font-size: 1.4rem;
    padding-top: 30px;
    font-weight: 600;
}

.newsletter-title {
    color: #262636;
    font-size: 1.4rem;
    margin-bottom: 0;
    padding-top: 30px;
    font-weight: 600;

}

.newsletter-p {
    color: rgb(155, 176, 182);
    text-align: left;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

fieldset {
    border: 0;
}

.contact-information {
    border-bottom: 2px solid #262636;
    padding-bottom: 30px;
}

input[type=text],
input[type=email],
input[type=tel],
.input_style {
    background-color: #eff0f1;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    border: none;
    color: rgb(49, 49, 49);
}

input::placeholder {
    text-align: right;
    padding-right: 10px;
    font-style: italic;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
.input_style:focus {
    outline: none;
    border: 2px solid #468b49;
    transition:all .5s ease-out;
}

select:invalid {
    color: gray;
}

label {
    color: #495d70;
    display: block;
    margin: 15px 0;
    margin-right: 0;
}

#zipcode {
    width: 50%;
}

.newsletters {
    display: inline-block;
    margin-top: 0;
    margin-left: 10px;
}

.news_check {
    float: left;
}

textarea {
    background-color: #eff0f1;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    border: none;
    color: rgb(49, 49, 49);
}

textarea:focus {
    outline: none;
    border: 2px solid #468b49;
}

.othertopics {
    margin-bottom: 10px;
}

button {
	background-color: #a0d151;
	border-radius:4px;
	border:1px solid #a0d151;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size: 17px;
	font-weight:bold;
    padding: 17px;
    width: 100%;
    text-decoration:none;
    margin: 10px auto;
}

footer p {
    color: rgb(155, 176, 182);
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 20px;
}




/*=========================Media Query================= */

@media (min-width: 768px) {
    #zipcode {
        width: 25%;
    }

    .form-container {
        display: flex;
        margin: 20px 0;
    }

    .form-container label {
        width: 150px;
        margin-right: 50px;
    }

    #zipcode {
        margin-left: -35px;
    }

    form {
        max-width: 650px;
        margin: auto;
    }
}